@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch+Pop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

#content{
    max-width: 1600px;
    margin: 0 auto;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
main section img{
    box-sizing: border-box;
}
#background{
    height: 745px;
    
}
body{
    background-color: #FFFFFF;
    font-family: Anton, Arial, fantasy;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header{
    background-color: #7D9575;
}
nav a{
    text-decoration: none;
    color: #272A25;
    text-align: center;
    padding: 35px;
}
nav a:hover{
    background-color: #DCF5E5;
    color: darkgreen;
}
.book, .join{
    background-color:#B3C4AD;
    color: #31402C;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .joing:hover{
    background-color: #DCF5E5;
    color: darkolivegreen;
}
#background{
    background-color: #DCF5E5;
   
}
.home-title{
    color: darkgreen;
    font-family: 'Rubik Glitch Pop', Arial, sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
h4{
    color: darkgreen;
}
h2{
    margin: 0;
}
.msg{
    background-color: #DCF5E5;
    line-height: 1.5em;
    padding: 35px;
}
.msg h2{
    color: darkslategrey;
    font-family: 'Abril Fatface' Arial, serif ;
}
.msg p{
    color: darkgreen;
    font-family: 'Abril Fatface', Arial, serif; 
    font-size: .8em;
    padding-bottom: 15px;
}
footer{
    background-color:#7D9575;
    color: #272A25;
    padding: 25px 50px;
    margin-top: 200px;
}
footer p{
    font-size: 1.2em;
}
footer p a:hover{
    text-decoration: underline;
}
footer a{
    color: #272A25;
    text-decoration: none;
}
footer a:hover{
    color: #272A25; 
}
footer .social img{
    padding-top: 15px;
}
.logo{
    width: 80px;
}
.icon{
    width: 80px;
    padding-top: 10px;
}
#hero-img{
    width: 100%;
}
#logo_link{
    padding-top: 5px;
}
.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}
.card-img{
    border: 10px solid #31402C;
}
.mountais{
    margin: 200px 0;
}