body{
    background-color: aqua;
}
header{
    background-color: red;
}
h1 {
    font-size: 3em;
}
p{
    font-size: 0.5em;
    color: magenta
}
img.logo{
    width: 100px;
    height: auto;
}
img#hero-img{
    width: 100%;
}
h1, h2, h3, h4, h5, h6{
    color:red
}
