#content{
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
}

#content section{
    width: 100px;
    height: 100px;
}

.red{
    background-color: red;
}

.green{
    background-color: green;
}

.yellow{
    background-color: yellow;
}

.blue{
    background-color: blue;
}
